@font-face {
    font-family: "icons";
    src: url("./icons.ttf?7db807200fdcfc3b8dbe54864b55292c") format("truetype"),
url("./icons.svg?7db807200fdcfc3b8dbe54864b55292c#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-blizzard:before {
    content: "\f101";
}
.icon-chevron:before {
    content: "\f102";
}
.icon-close:before {
    content: "\f103";
}
.icon-dotted:before {
    content: "\f104";
}
.icon-drought:before {
    content: "\f105";
}
.icon-dust:before {
    content: "\f106";
}
.icon-envelope:before {
    content: "\f107";
}
.icon-flood:before {
    content: "\f108";
}
.icon-hail:before {
    content: "\f109";
}
.icon-heat:before {
    content: "\f10a";
}
.icon-location:before {
    content: "\f10b";
}
.icon-plus:before {
    content: "\f10c";
}
.icon-rainfall:before {
    content: "\f10d";
}
.icon-smog:before {
    content: "\f10e";
}
.icon-tornado:before {
    content: "\f10f";
}
.icon-upload:before {
    content: "\f110";
}
.icon-wildfire:before {
    content: "\f111";
}
.icon-x:before {
    content: "\f112";
}
