@font-face {
    font-family: "icons";
    src: url("./icons.ttf?82938fabe008d1556f557cc17facd180") format("truetype"),
url("./icons.woff?82938fabe008d1556f557cc17facd180") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\f101";
}
.icon-blizzard:before {
    content: "\f102";
}
.icon-bookmark:before {
    content: "\f103";
}
.icon-chevron-left:before {
    content: "\f104";
}
.icon-chevron-right:before {
    content: "\f105";
}
.icon-close:before {
    content: "\f106";
}
.icon-dotted-line:before {
    content: "\f107";
}
.icon-drought:before {
    content: "\f108";
}
.icon-dust:before {
    content: "\f109";
}
.icon-edit:before {
    content: "\f10a";
}
.icon-flood:before {
    content: "\f10b";
}
.icon-hail:before {
    content: "\f10c";
}
.icon-heat:before {
    content: "\f10d";
}
.icon-home:before {
    content: "\f10e";
}
.icon-info:before {
    content: "\f10f";
}
.icon-new:before {
    content: "\f110";
}
.icon-plus:before {
    content: "\f111";
}
.icon-rainfall:before {
    content: "\f112";
}
.icon-search:before {
    content: "\f113";
}
.icon-smog:before {
    content: "\f114";
}
.icon-top:before {
    content: "\f115";
}
.icon-tornado:before {
    content: "\f116";
}
.icon-trending:before {
    content: "\f117";
}
.icon-upload:before {
    content: "\f118";
}
.icon-user:before {
    content: "\f119";
}
.icon-wildfire:before {
    content: "\f11a";
}
.icon-x:before {
    content: "\f11b";
}
